<!DOCTYPE html>
<html class="vh-100" lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%block stylesheets%}
            <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon/favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('build/vendors~app.css') }}">
        {% endblock %}
        {% block javasctripts %}
            <script src="{{ asset('build/app.js') }}" charset="utf-8"></script>
            <script src="{{ asset('build/runtime.js') }}" charset="utf-8"></script>
            <script src="{{ asset('build/vendors~app.js') }}" charset="utf-8"></script>
        {% endblock %}
        <title>Cytoscape editor</title>
    </head>
    <body class="container-fluid h-100 mh-100 p-0 pt-3 m-0 mt-5 border">
        <header class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
                <a href="#" class="navbar-brand">Test</a>
                <span class="navbar-text">Simple graph editor</span>
                <ul class="navbar-nav nav-tabs ml-auto">
                    <li class="nav-item">
                        <!-- Выпадающее меню -->
                        <div class="dropdown">
                            <button class="nav-link btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Дополнительные функции
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button" id='add'>Добавить</button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" type="button" id='clean'>Очистить поле</button>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link  active">Link 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Link 2</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="row h-100">
            <section class="container-fluid border">
                <!-- Контейнер графа модуля cytoscape -->
                <div class="jumbotron jumbotron-fluid h-100 m-0 p-1" id="cy"></div>
            </section>
        </main>
        <footer class="fixed-bottom">
        </footer>
    </body>
</html>
